* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  word-spacing: -5px;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

html, body {
  background-color: rgb(0, 0, 20);
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 100vh;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
  height: 100vh;
}

div.upper-panel {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  margin: 10px 0 0 0;
}

.upper-panel > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

h2 {
  font-size: 14px;
  margin: 5px 0 0 0;
}

h2.countdown {
  position: relative;
  top: 304px;
  color: yellow;
  font-weight: 900;
  font-size: 13px;
  z-index: 1;
}

h2.countdown.hidden {
  visibility: hidden;
}

h2.countdown.game-over {
  color: red;
}

div.grid {
  width: 476px;
  height: 527px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 17px;
  height: 17px;
}

div.wall {
  background-color: rgb(0, 0, 20);
  position: relative;
}

div.wall.top {
  border-top: rgb(0, 4, 255) 5px solid;
  top: 6px;
}

div.wall.bottom {
  border-bottom: rgb(0, 4, 255) 5px solid;
  bottom: 6px;
}

div.wall.right {
  border-right: rgb(0, 4, 255) 5px solid;
  right: 6px;
}

div.wall.left {
  border-left: rgb(0, 4, 255) 5px solid;
  left: 6px;
}

div.wall.right.bottom.inner {
  border-bottom: rgb(0, 4, 255) 5px solid;
  border-right: rgb(0, 4, 255) 5px solid;
  border-top: none;
  border-left: none;
  bottom: 6px;
  right: 6px;
}

div.wall.right.top.inner {
  border-top: rgb(0, 4, 255) 5px solid;
  border-right: rgb(0, 4, 255) 5px solid;
  border-bottom: none;
  border-left: none;
  top: 6px;
  right: 6px;
}

div.wall.left.bottom.inner {
  border-bottom: rgb(0, 4, 255) 5px solid;
  border-left: rgb(0, 4, 255) 5px solid;
  border-top: none;
  border-right: none;
  bottom: 6px;
  right: -6px;
}

div.wall.left.top.inner {
  border-top: rgb(0, 4, 255) 5px solid;
  border-left: rgb(0, 4, 255) 5px solid;
  border-bottom: none;
  border-right: none;
  bottom: -6px;
  right: -6px;
}

div.door {
  position: relative;
  border-top: rgb(247, 162, 188) 5px solid;
  top: 6px;
}

div.grid-item.food {
  background-color: rgb(247, 162, 188);
  border-radius: 100%;
  width: 5px;
  height: 5px;
  margin: 6px;
}

div.grid-item.energizer {
  background-color: rgb(247, 162, 188);
  border-radius: 100%;
  width: 13px;
  height: 13px;
  margin: 2px;
  z-index: 1;
}

div.grid-item.energizer.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% { opacity: 1; }
  20% { opacity: 1; }
  30% { opacity: 0; }
  70% { opacity: 0; }
  80% { opacity: 1; }
  100% { opacity: 1; }
  /* 0% {background-color: red;}
  50% {visibility: hidden;}
  100% {background-color: green;} */
}

div.grid-item.pacman {
  background-color: yellow;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  margin: 0px;
  z-index: 2;
  transform: rotate(180deg);
}

div.grid-item.pacman.closed {
  clip-path: polygon(68% 2%, 50% 0, 31% 3%, 14% 14%, 3% 30%, 0 51%, 3% 73%, 14% 88%, 28% 96%, 48% 100%, 64% 98%, 82% 90%, 93% 77%, 98% 61%, 40% 51%, 98% 41%, 94% 23%, 84% 9%);
}

div.grid-item.pacman.half {
  clip-path: polygon(51% 0, 36% 2%, 22% 8%, 11% 17%, 3% 31%, 0% 48%, 2% 64%, 8% 78%, 19% 89%, 33% 96%, 51% 100%, 69% 97%, 82% 90%, 95% 78%, 40% 51%, 96% 21%, 83% 8%, 68% 1%);
}

div.grid-item.pacman.open {
  clip-path: polygon(51% 0, 36% 2%, 22% 8%, 11% 17%, 3% 31%, 0% 48%, 2% 64%, 8% 78%, 19% 89%, 33% 96%, 51% 100%, 69% 97%, 76% 93%, 82% 88%, 40% 51%, 82% 9%, 74% 4%, 65% 1%);
}

div.grid-item.pacman.rotate0 {
  transform: rotate(0deg);
}

div.grid-item.pacman.rotate90 {
  transform: rotate(90deg);
}

div.grid-item.pacman.rotate180 {
  transform: rotate(180deg);
}

div.grid-item.pacman.rotate270 {
  transform: rotate(270deg);
}

div.grid-item.red {
  position: relative;
  display: inline-block;
  background-color: red;
  border-radius: 0;
  width: 17px;
  height: 17px;
  margin: 0px;
  z-index: 3;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.red::before {
  right: 10px;
  top: 5px;
  position: absolute;
  background-image: radial-gradient(black 0%, black 30%, white 31%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 4px;
}

div.grid-item.red::after {
  left: 10px;
  top: 5px;
  position: absolute;
  background-image: radial-gradient(black 0%, black 30%, white 31%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 4px;
}

div.grid-item.blue {
  position: relative;
  display: inline-block;
  background-color: rgb(0, 225, 255);
  border-radius: 0;
  width: 17px;
  height: 17px;
  margin: 0px;
  z-index: 3;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.blue::before {
  right: 10px;
  top: 5px;
  position: absolute;
  background-image: radial-gradient(black 0%, black 30%, white 31%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 4px;
}

div.grid-item.blue::after {
  left: 10px;
  top: 5px;
  position: absolute;
  background-image: radial-gradient(black 0%, black 30%, white 31%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 4px;
}

div.grid-item.orange {
  position: relative;
  display: inline-block;
  background-color: orange;
  border-radius: 0;
  width: 17px;
  height: 17px;
  margin: 0px;
  z-index: 3;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.orange::before {
  right: 10px;
  top: 5px;
  position: absolute;
  background-image: radial-gradient(black 0%, black 30%, white 31%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 4px;
}

div.grid-item.orange::after {
  left: 10px;
  top: 5px;
  position: absolute;
  background-image: radial-gradient(black 0%, black 30%, white 31%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 4px;
}

div.grid-item.pink {
  position: relative;
  display: inline-block;
  background-color: rgb(255, 132, 245);
  border-radius: 0;
  width: 17px;
  height: 17px;
  margin: 0px;
  z-index: 3;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.pink::before {
  right: 10px;
  top: 5px;
  position: absolute;
  background-image: radial-gradient(black 0%, black 30%, white 31%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 4px;
}

div.grid-item.pink::after {
  left: 10px;
  top: 5px;
  position: absolute;
  background-image: radial-gradient(black 0%, black 30%, white 31%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 4px;
}

div.grid-item.scatter {
  background-color: rgba(7, 51, 246, 0.842);
}

div.lives-left {
  margin: 10px 0 0 0;
  display: flex;
}

h2#lives-left.hidden {
  visibility: hidden;
}