/* CONTENT LAYOUT */

* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  word-spacing: -3px;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

html, body {
  background-color: rgb(0, 0, 20);
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 40px 0;
  transform: scale(0.95, 0.95);
}

div.upper-panel {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  margin: 10px 0 0 0;
}


/* UPPER PANEL */

.upper-panel > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

h2 {
  font-size: 13px;
  margin: 0px 0 0 0;
  transform: scale(1, 1.2);
}

h2:nth-child(2) {
  margin: 9px 0 0 0;
}


/* COUNTDOWN */

div.countdown {
  position: relative;
  top: 304px;
  z-index: 1;
}

h2.countdown {
  color: yellow;
  font-weight: 900;
  font-size: 13px;
}

h2.countdown.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% { opacity: 1; }
  20% { opacity: 1; }
  30% { opacity: 0; }
  70% { opacity: 0; }
  80% { opacity: 1; }
  100% { opacity: 1; }
}

h2.countdown.hidden {
  visibility: hidden;
}

h2.countdown.game-over {
  color: red;
}


/* LOWER PANEL */

div.lower-panel {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0 0;
  min-width: 500px;
}

div.lower-left {
  flex-grow: 1;
}

div.lives-left {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 50px;
  width: 50px;
  height: 17px;
}

div.life {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  margin: -2px 4px;
  z-index: 2;
  transform-origin: 50% 50%;
  transform: rotate(180deg) scale(1.3, 1.3);
  clip-path: polygon(51% 0, 36% 2%, 22% 8%, 11% 17%, 3% 31%, 0% 48%, 2% 64%, 8% 78%, 19% 89%, 33% 96%, 51% 100%, 69% 97%, 82% 90%, 95% 78%, 40% 51%, 96% 21%, 83% 8%, 68% 1%);
  background-color: yellow;
}

div.restart-message {
  display: flex;
  justify-content: center;
  margin: 3px 0 0 0;
  flex-grow: 1;
}

h2.restart-message.flash {
  animation: flash 1s infinite;
}

h2.restart-message.hidden {
  visibility: hidden;
}

div.lower-right {
  flex-grow: 1;
}

div.fruit {
  width: 50px;
}


/* BUILDING THE GRID */

div.grid {
  width: 476px;
  height: 527px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 17px;
  height: 17px;
}

div.wall {
  background-color: rgb(0, 0, 20);
  position: relative;
}

div.wall.top {
  border-top: rgb(0, 4, 255) 3px solid;
  top: 7px;
}

div.wall.bottom {
  border-bottom: rgb(0, 4, 255) 3px solid;
  bottom: 7px;
}

div.wall.right {
  border-right: rgb(0, 4, 255) 3px solid;
  right: 7px;
}

div.wall.left {
  border-left: rgb(0, 4, 255) 3px solid;
  left: 7px;
}

div.wall.right.bottom.inner {
  border-bottom: rgb(0, 4, 255) 3px solid;
  border-right: rgb(0, 4, 255) 3px solid;
  border-top: none;
  border-left: none;
  bottom: 7px;
  right: 7px;
}

div.wall.right.top.inner {
  border-top: rgb(0, 4, 255) 3px solid;
  border-right: rgb(0, 4, 255) 3px solid;
  border-bottom: none;
  border-left: none;
  top: 7px;
  right: 7px;
}

div.wall.left.bottom.inner {
  border-bottom: rgb(0, 4, 255) 3px solid;
  border-left: rgb(0, 4, 255) 3px solid;
  border-top: none;
  border-right: none;
  bottom: 7px;
  right: -7px;
}

div.wall.left.top.inner {
  border-top: rgb(0, 4, 255) 3px solid;
  border-left: rgb(0, 4, 255) 3px solid;
  border-bottom: none;
  border-right: none;
  bottom: -7px;
  right: -7px;
}

div.door {
  position: relative;
  border-top: #f7a2bc 3px solid;
  top: 7px;
}

div.grid > div:nth-child(376) {
  top: 0px;
  left: 0px;
}

div.grid > div:nth-child(n+377):not(:nth-child(n+381)) {
  top: 0px;
}

div.grid > div:nth-child(n+350):not(:nth-child(n+352)) {
  border-top: #f7a2bc 11px solid;
}

div.grid > div:nth-child(381) {
  top: 0px;
  right: 0px;
}

div.grid > div:nth-child(404) {
  left: 0px;
}

div.grid > div:nth-child(409) {
  left: 14px;
}

div.grid > div:nth-child(432) {
  left: 0px;
  bottom: 0px;
  z-index: 1;
}

div.grid > div:nth-child(n+433):not(:nth-child(n+437)) {
  top: 0px;
  bottom: 0px;
  border-bottom: rgb(0, 4, 255) 3px solid;
  border-top: none;
}

div.grid > div:nth-child(437) {
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

div.grid-item.food {
  background-color: #f7a2bc;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  margin: 6px;
  z-index: 1;
}

div.grid-item.energizer {
  background-color: #f7a2bc;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin: 2.5px;
  z-index: 1;
}

div.grid-item.energizer.flash {
  animation: flash 0.8s infinite;
}

div.grid-item.energizer.hidden {
  visibility: hidden;
}


/* PACMAN MOVEMENT */

div.grid-item.pacman {
  background-color: yellow;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  margin: 0px;
  z-index: 2;
  transform-origin: 50% 50%;
  transform: rotate(180deg) scale(1.5, 1.5);
}

:root {
  --rotation: 180deg;
  --playerspeed: 0.15s;
  --ghostspeed: 0.165s;
}

div.grid-item.pacman.stationary {
  transform: rotate(var(--rotation)) scale(1.5, 1.5);
  clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
}

div.grid-item.pacman.stationary.adjusted {
  transform: rotate(var(--rotation)) scale(1.5, 1.5) translateX(4px);
  clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
}

div.grid-item.pacman.stationary.death {
  transform: rotate(var(--rotation)) scale(1.5, 1.5);
  clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  animation: death 1s linear;
}

@keyframes death {
  0% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  10% {
    clip-path: polygon(0 53%, 1% 66%, 6% 76%, 11% 83%, 20% 89%, 28% 94%, 36% 97%, 45% 99%, 54% 99%, 64% 95%, 76% 90%, 83% 84%, 25% 50%, 83% 22%, 77% 13%, 66% 4%, 55% 1%, 44% 0, 33% 2%, 21% 6%, 12% 12%, 4% 21%, 1% 31%, 0 44%);
  }
  20% {
    clip-path: polygon(0 53%, 1% 66%, 6% 76%, 11% 83%, 20% 89%, 28% 94%, 36% 97%, 45% 99%, 54% 99%, 64% 95%, 73% 91%, 25% 50%, 75% 10%, 66% 4%, 55% 1%, 44% 0, 33% 2%, 21% 6%, 12% 12%, 4% 21%, 1% 31%, 0 44%);
  }
  30% {
    clip-path: polygon(0 53%, 1% 66%, 6% 76%, 11% 83%, 20% 89%, 28% 94%, 36% 97%, 45% 99%, 54% 99%, 64% 95%, 25% 50%, 64% 4%, 55% 1%, 44% 0, 33% 2%, 21% 6%, 12% 12%, 4% 21%, 1% 31%, 0 44%);
  }
  40% {
    clip-path: polygon(0 53%, 1% 66%, 6% 76%, 11% 83%, 20% 89%, 28% 94%, 36% 97%, 45% 99%, 51% 98%, 25% 50%, 50% 1%, 44% 0, 33% 2%, 21% 6%, 12% 12%, 4% 21%, 1% 31%, 0 44%);
  }
  50% {
    clip-path: polygon(0 53%, 1% 66%, 6% 76%, 11% 83%, 20% 89%, 28% 94%, 36% 97%, 43% 98%, 25% 50%, 42% 1%, 33% 2%, 21% 6%, 12% 12%, 4% 21%, 1% 31%, 0 44%);
  }
  60% {
    clip-path: polygon(0 53%, 1% 66%, 6% 76%, 11% 83%, 20% 89%, 31% 94%, 25% 50%, 33% 2%, 21% 6%, 12% 12%, 4% 21%, 1% 31%, 0 44%);
  }
  70% {
    clip-path: polygon(0 53%, 1% 66%, 6% 76%, 11% 83%, 20% 89%, 25% 50%, 21% 6%, 12% 12%, 4% 21%, 1% 31%, 0 44%);
  }
  80% {
    clip-path: polygon(0 53%, 1% 65%, 4% 74%, 8% 81%, 25% 50%, 8% 17%, 3% 24%, 1% 31%, 0 44%);
  }
  90% {
    clip-path: polygon(0 53%, 0 62%, 3% 68%, 25% 50%, 2% 35%, 0 44%);
  }
  95% {
    clip-path: polygon(0% 48%, 0 54%, 27% 50%, 0 46%);
  }
  100% {
    clip-path: polygon(0)
  }
}

div.grid-item.pacman.moving.left {
  animation: p-left var(--playerspeed) infinite linear, mouth-left 1s infinite linear;
}

@keyframes p-left {
  0% {
    transform: rotate(180deg) scale(1.5, 1.5) translateX(-11.333333px);
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  20% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 63% 97%, 68% 95%, 74% 92%, 27% 51%, 75% 7%, 70% 3%, 63% 1%, 55% 0, 45% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  30% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 63% 97%, 68% 95%, 74% 92%, 27% 51%, 75% 7%, 70% 3%, 63% 1%, 55% 0, 45% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  50% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  70% {
    clip-path: polygon(0 50%, 1% 64%, 5% 78%, 15% 91%, 30% 98%, 48% 100%, 63% 98%, 76% 94%, 86% 85%, 91% 71%, 92% 58%, 27% 51%, 92% 44%, 90% 28%, 83% 15%, 72% 6%, 61% 1%, 49% 0, 34% 1%, 18% 6%, 9% 16%, 3% 26%, 0 37%);
  }
  80% {
    clip-path: polygon(0 50%, 1% 64%, 5% 78%, 15% 91%, 30% 98%, 48% 100%, 63% 98%, 76% 94%, 86% 85%, 91% 71%, 92% 58%, 27% 51%, 92% 44%, 90% 28%, 83% 15%, 72% 6%, 61% 1%, 49% 0, 34% 1%, 18% 6%, 9% 16%, 3% 26%, 0 37%);
  }
  100% {
    transform: rotate(180deg) scale(1.5, 1.5) translateX(0px);
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
}

div.grid-item.pacman.moving.up {
  animation: p-up var(--playerspeed) infinite linear;
}

@keyframes p-up {
  0% {
    transform: rotate(270deg) scale(1.5, 1.5) translateX(-11.333333px);
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  20% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 63% 97%, 68% 95%, 74% 92%, 27% 51%, 75% 7%, 70% 3%, 63% 1%, 55% 0, 45% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  30% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 63% 97%, 68% 95%, 74% 92%, 27% 51%, 75% 7%, 70% 3%, 63% 1%, 55% 0, 45% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  50% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  70% {
    clip-path: polygon(0 50%, 1% 64%, 5% 78%, 15% 91%, 30% 98%, 48% 100%, 63% 98%, 76% 94%, 86% 85%, 91% 71%, 92% 58%, 27% 51%, 92% 44%, 90% 28%, 83% 15%, 72% 6%, 61% 1%, 49% 0, 34% 1%, 18% 6%, 9% 16%, 3% 26%, 0 37%);
  }
  80% {
    clip-path: polygon(0 50%, 1% 64%, 5% 78%, 15% 91%, 30% 98%, 48% 100%, 63% 98%, 76% 94%, 86% 85%, 91% 71%, 92% 58%, 27% 51%, 92% 44%, 90% 28%, 83% 15%, 72% 6%, 61% 1%, 49% 0, 34% 1%, 18% 6%, 9% 16%, 3% 26%, 0 37%);
  }
  100% {
    transform: rotate(270deg) scale(1.5, 1.5) translateX(0px);
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
}

div.grid-item.pacman.moving.right {
  animation: p-right var(--playerspeed) infinite linear;
}

@keyframes p-right {
  0% { transform: rotate(0deg) scale(1.5, 1.5) translateX(-11.333333px);
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  20% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 63% 97%, 68% 95%, 74% 92%, 27% 51%, 75% 7%, 70% 3%, 63% 1%, 55% 0, 45% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  30% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 63% 97%, 68% 95%, 74% 92%, 27% 51%, 75% 7%, 70% 3%, 63% 1%, 55% 0, 45% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  50% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  70% {
    clip-path: polygon(0 50%, 1% 64%, 5% 78%, 15% 91%, 30% 98%, 48% 100%, 63% 98%, 76% 94%, 86% 85%, 91% 71%, 92% 58%, 27% 51%, 92% 44%, 90% 28%, 83% 15%, 72% 6%, 61% 1%, 49% 0, 34% 1%, 18% 6%, 9% 16%, 3% 26%, 0 37%);
  }
  80% {
    clip-path: polygon(0 50%, 1% 64%, 5% 78%, 15% 91%, 30% 98%, 48% 100%, 63% 98%, 76% 94%, 86% 85%, 91% 71%, 92% 58%, 27% 51%, 92% 44%, 90% 28%, 83% 15%, 72% 6%, 61% 1%, 49% 0, 34% 1%, 18% 6%, 9% 16%, 3% 26%, 0 37%);
  }
  100% {
    transform: rotate(0deg) scale(1.5, 1.5) translateX(0px);
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
}

div.grid-item.pacman.moving.down {
  animation: p-down var(--playerspeed) infinite linear;
}

@keyframes p-down {
  0% {
    transform: rotate(90deg) scale(1.5, 1.5) translateX(-11.333333px);
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  20% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 63% 97%, 68% 95%, 74% 92%, 27% 51%, 75% 7%, 70% 3%, 63% 1%, 55% 0, 45% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  30% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 63% 97%, 68% 95%, 74% 92%, 27% 51%, 75% 7%, 70% 3%, 63% 1%, 55% 0, 45% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  50% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  70% {
    clip-path: polygon(0 50%, 1% 64%, 5% 78%, 15% 91%, 30% 98%, 48% 100%, 63% 98%, 76% 94%, 86% 85%, 91% 71%, 92% 58%, 27% 51%, 92% 44%, 90% 28%, 83% 15%, 72% 6%, 61% 1%, 49% 0, 34% 1%, 18% 6%, 9% 16%, 3% 26%, 0 37%);
  }
  80% {
    clip-path: polygon(0 50%, 1% 64%, 5% 78%, 15% 91%, 30% 98%, 48% 100%, 63% 98%, 76% 94%, 86% 85%, 91% 71%, 92% 58%, 27% 51%, 92% 44%, 90% 28%, 83% 15%, 72% 6%, 61% 1%, 49% 0, 34% 1%, 18% 6%, 9% 16%, 3% 26%, 0 37%);
  }
  100% {
    transform: rotate(90deg) scale(1.5, 1.5) translateX(0px);
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
}

/* GHOSTS */

div.grid-item.ghost {
  position: relative;
  display: inline-block;
  border-radius: 0;
  width: 17px;
  height: 17px;
  margin: 0px;
  z-index: 3;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
  transform-origin: 50% 50%;
  transform: scale(1.35, 1.5);
}

div.grid-item.red {
  background-color: red;
}

div.grid-item.blue {
  background-color: rgb(0, 225, 255);
}

div.grid-item.orange {
  background-color: orange;
}

div.grid-item.pink {
  background-color: rgb(255, 132, 245);
}

.adjusted {
  right: 8.5px;
}

div.grid-item.ghost::before {
  right: 10px;
  top: 5px;
  position: absolute;
  background-image: radial-gradient(black 0%, black 30%, white 31%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 4px;
}

div.grid-item.ghost::after {
  left: 10px;
  top: 5px;
  position: absolute;
  background-image: radial-gradient(black 0%, black 30%, white 31%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 4px;
}

div.grid-item.ghost.left {
  animation: g-left var(--ghostspeed) infinite linear;
}

@keyframes g-left {
  0% { transform: scale(1.35, 1.5) translateX(12.592593px); }
  100% { transform: scale(1.35, 1.5) translateX(0px); }
}

div.grid-item.ghost.up {
  animation: g-up var(--ghostspeed) infinite linear;
}

@keyframes g-up {
  0% { transform: scale(1.35, 1.5) translateY(11.333333px); }
  100% { transform: scale(1.35, 1.5) translateY(0px); }
}

div.grid-item.ghost.right {
  animation: g-right var(--ghostspeed) infinite linear;
}

@keyframes g-right {
  0% { transform: scale(1.35, 1.5) translateX(-12.592593px); }
  100% { transform: scale(1.35, 1.5) translateX(0px); }
}

div.grid-item.ghost.down {
  animation: g-down var(--ghostspeed) infinite linear;
}

@keyframes g-down {
  0% { transform: scale(1.35, 1.5) translateY(-11.333333px); }
  100% { transform: scale(1.35, 1.5) translateX(0px); }
}

div.grid-item.frightened {
  background-color: rgba(7, 51, 246, 1);
}

div.grid-item.ghost.frightened::before {
  right: 9px;
  background-image: radial-gradient(white 0%, white 30%, rgba(7, 51, 246, 1) 31%);
}

div.grid-item.ghost.frightened::after {
  left: 9px;
  background-image: radial-gradient(white 0%, white 30%, rgba(7, 51, 246, 1) 31%);
}

div.grid-item.ghost-flash {
  background-color: white;
}

div.grid-item.ghost.frightened.ghost-flash::before {
  background-image: radial-gradient(red 0%, red 30%, white 31%);
}

div.grid-item.ghost.frightened.ghost-flash::after {
  background-image: radial-gradient(red 0%, red 30%, white 31%);
}

div.grid-item.capture-score {
  background-color: green;
}